* {
	margin:0;
	padding:0;
}
body, input, textarea {
    font: 1em/1.5 Helvetica, sans-serif;
	font-weight: 100;
}
li {
	list-style: none;
}
.wrap {
	width: 910px;
	margin: 0 auto;
}
.head {
	background-color: rgba(244,255,234,0.5);
	margin: 1% 0;
}
.sidebar {
	background-color: rgba(244,255,234,0.5);
}
.sidebar ul li {
	display: inline-table;
}
.form {
	margin-top: 10px;
}
.login, .personal {
	/*background-color: rgba(244,255,234,0.5);*/
	width: 440px;
	float: left;
	margin-bottom: 30px;
}
.login {
	margin-right: 15px;
}
.login li, .personal li {
	margin-bottom: 10px;
}
.personal {
	margin-left: 15px;
}

.telf, .mov {
	width: 50%;
	float: left;
}
.telf {
	width: 48%;
	margin-right: 2%;
}
.personal span.estado {
	background-color: rgba(138, 72, 0, 0.5);
}
label, input {
	display: block;
	border:0;
}
input {
	width: 100%;
    height: 100%;
    padding: 1.25em 0 1em;
    outline: 0;
   	background-color: #f1f1f1;
}
input:hover {
	background-color: white;
}
label {
    font-size: .7125em; /* 13/16 */
    text-transform: uppercase;
    /*position: absolute;*/
    top: 1.23em;
    left: 1.23em;
    color: #f1773b;
    opacity: 1;
    margin: 10px 0 5px;
}
span.estado {
	display: inline-block;
	background-color: rgba(255,0,0,0.5);
	padding: .25em;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 11px;
}
<<<<<<< HEAD
input[type="submit"] {
=======
input[name="submit"] {
>>>>>>> 3ed22f68f3c682fffe92d26a6ead92da33e36b49
    background: #E5E7B3;
    margin-top: 5%;
    margin-bottom: 1em;
    clear: both;
    color: black;
    padding: .75em;
    -webkit-appearance: none; /* remove default browser <button> styling */
    -webkit-transition: .333s ease;
    transition: .333s ease;
}
input[name="submit"]:hover {
   /* -webkit-transform: scale(1.025);
    transform: scale(1.025);*/
	background-color: rgba(0,198,0,0.5);
	color:black;
    cursor: pointer;
}
input[name="submit"]:active {
    -webkit-transform: scale(.975);
    transform: scale(.975);
}